html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
}

.main {
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
}

/*ANIME PAGE LOADING HANDLER*/

.main.hidden {
    display: none;
}

.main.skeleton {
    overflow-y: hidden;
    height: 90%;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #ff5722;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader.hidden {
    display: none;
}

.loader.wholepage {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.loader.loader-wbtn {
    margin-top: 30px;
    height: 25px;
    width: 25px;
    border: 3px solid #FFF;
    border-bottom-color: #ff5722;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*LOADING HANDLER ENDS*/

.top-banner {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bottom-gradient {
    width: 100%;
    height: 300px;
    margin-top: auto;
    background: linear-gradient(to top, black, transparent);
}

.overlay-main {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.empty-top-banner {
    width: 100%;
    aspect-ratio: 9/ 1;
}

.anime-hero-section {
    width: 100%;
    display: flex;
    padding: 0 40px;
    gap: 20px;
}

.hero-column {
    display: flex;
    flex-direction: column;
}

.image {
    width: 20%;
    max-width: 250px;
}

.card-image {
    width: 100%;
    aspect-ratio: 2/ 3;
}

.metadata {
    width: 80%;
}

.titles-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 50px;
}

.english {
    font-size: 30px;
}

.romaji {
    color: rgb(173, 173, 173);
    font-size: 15px;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.description-anime-hero {
    color: whitesmoke;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
}

.description-section {
    display: flex;
    gap: 15px;
    width: 100%;
}

.des-only {
    width: 100%;
}

.other-metadata {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 15px;
}

.metadata-label {
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.metadata-value {
    color: white;
    font-size: 13px;
    padding-right: 5px;
}

.watchlist-section-ap {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-style: normal;
}

/*ANIME PAGE HERO FOR MOBILES*/

@media screen and (max-width: 900px) {
    .anime-hero-section {
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: 100%;
        max-width: 350px;
    }

    .metadata {
        width: 100%;
    }

    .titles-section {
        align-items: center;
        margin: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid gray;
    }

    .watchlist-section-ap{
        margin-top: 10px;
    }

    .loader.loader-wbtn {
        margin-top: 0px;
    }

    .description-section {
        padding: 20px 0;
        flex-direction: column;
    }

    .des-only {
        border-bottom: 1px solid gray;
    }

    .other-metadata {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .english {
        text-align: center;
    }

    .romaji {
        text-align: center;
    }
}

/* END */

.episodes-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
}

.top-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top-controls-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}

.season-text {
    color: white;
    font-size: 17px;
}

.top-controls-btn:hover .season-text {
    color: #2ee6e3;
}

.top-controls-btn:hover .arrow-down {
    fill: #2ee6e3;
}

.sort {
    padding: 5px;
}

.sort:hover {
    background-color: #23252b;
}

.sort-text {
    color: gray;
    font-size: 15px;
}

.sort-icon {
    fill: gray;
}

.sort:hover:hover .sort-text,
.sort:hover:hover .sort-icon {
    color: white;
    fill: #ffffff;
}

.goto-episode {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
}

/*.episodes-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}*/

.episodes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
}

.el-search {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.el-history {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 312px) {
    .el-history {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}

@media (min-width: 313px) and (max-width: 500px) {
    .el-history {
        grid-template-columns: repeat(auto-fill, minmax(156px, 156px));
    }
}

.episode-card {
    width: 100%;
    position: relative;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.episode-card-first {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.episode-card-image {
    width: 100%;
    aspect-ratio: 3/ 2;
    object-fit: cover;
}

.anime-title {
    margin-top: 8px;
    color: gray;
    font-size: 11px;
    font-weight: bold;
}

.episode-number-name {
    margin-top: 4px;
    color: white;
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 4px;
    line-height: 25px;
}

.language-section {
    margin-top: auto;
    color: gray;
    font-size: 13px;
}


/*EPISODE CARD LOADING HANDLER*/

.el-history.skeletons.hidden {
    display: none;
}

.episode-loading-image {
    width: 100%;
    aspect-ratio: 3 / 2;
}

.episode-loading-title {
    width: 22vw;
    max-width: 200px;
    height: 18px;
    margin: 12px 0;
}

.episode-loading-language {
    width: 22vw;
    max-width: 100px;
    height: 14px;
}

/*LOADING HANDLER ENDS*/

.episode-card-hover {
    background-color: #141519;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
}

.episode-description {
    -webkit-line-clamp: 5;
    line-clamp: 5;
    font-size: 14px;
    line-height: 20px;
}

.episode-play-btn {
    margin-top: auto;
    display: flex;
    align-items: center;
    color: #ff640a;
    font-size: 15px;
}

.episode-card-first:hover .episode-card-hover {
    opacity: 1;
}

.episode-list-endline {
    margin-top: 30px;
    width: 100%;
    height: 1px;
    background-color: gray;
}

.season-change-section {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.scs-part {
    padding: 0 10px;
    width: fit-content;
    color: gray;
    font-size: 13px;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
}

.chevron-arrow {
    font-weight: 800;
}

.scs-part:hover .chevron-arrow,
.scs-part:hover {
    color: white;
    fill: white;
}

.more-section {
    margin-top: 50px;
    width: 100%;
}

.sl-heading-apage {
    padding: 0 25px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.main-episode-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 2/1.1;
    max-width: 1350px;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.episode-page-details {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.epd-first-top {
    display: flex;
    align-items: center;
}

.first-part {
    gap: 10px;
    color: white;
    font-size: 17px;
}

.first-part-anime-title {
    color: #ff640a;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.first-part-anime-title:hover {
    color: white;
    text-decoration: underline;
}

.first-part-rating {
    color: white;
    font-size: 15px;
}

.add-to-watchlist-icon {
    cursor: pointer;
}

.epd-ep-title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

.epd-language {
    margin-top: 16px;
    color: gray;
    font-size: 14px;
}

.epd-description {
    margin-top: 12px;
    width: 100%;
    font-size: 16px;
    line-height: 23px;
}

.episode-change-section {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.episode-change-card-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.eccc-heading {
    font-size: 15px;
    font-weight: bold;
}

.episode-change-card {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
}

.episode-change-card:hover {
    background-color: #23252b;
}

.for-card {
    margin-top: 0;
    font-size: 18px;
}

.ecc-image {
    width: 40%;
    height: 100%;
}

.ecc-text-section {
    gap: 8px;
}

.ecc-language {
    margin-top: 0;
}

@media screen and (max-width: 900px) {
    .anime-hero-section {
        padding: 0 20px;
    }

    .episodes-section {
        padding: 0 20px;
    }

    .sl-heading-apage {
        padding: 0 20px;
    }
    .episode-page-details{
        padding: 0 20px;
    }
}


@media screen and (min-width: 900px) and (max-width: 1000px) {
    .anime-hero-section {
        padding: 0 45px;
    }

    .episodes-section {
        padding: 0 40px;
    }

    .sl-heading-apage {
        padding: 0 40px;
    }
    .episode-page-details{
        padding: 0 40px;
    }
}

@media screen and (min-width: 1000px) {
    .anime-hero-section {
        padding: 0 64px;
    }

    .episodes-section {
        padding: 0 64px;
    }

    .sl-heading-apage {
        padding: 0 64px;
    }
}

.watchlist-btn-animepage {
    /*margin-top: 30px;*/
    cursor: pointer;
}

.ms-anime-slider {
    padding: 0px;
}

@media  (max-width: 500px){
    .episode-page-details{
        padding: 0 15px;
    }
    /*.anime-card-first{
        min-width: 200px;
    }*/
    .epd-ep-title{
        font-size: 20px;
    }
    .epd-description{
        font-size: 14px;
    }
    .for-card{
        font-size: 16px;
    }
}

@media (max-width: 650px){
    .episode-change-section{
        flex-direction: column;
    }
    .episode-change-card-container{
        width: 100%;
    }
}

.epd-first {
    padding: 0px;
    max-width: none;
}