* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: 'Sansation', 'Cal Sans', 'Open Sans', 'Roboto';
    background-color: black;
    color: white;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    overflow-y: visible;
}

.navbar {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: #23252b;
    color: whitesmoke;
}

.nav-left {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
    padding: 0px;
}

.menu-logo {
    width: 50%;
    height: 50%;
}

.website-logo {
    width: 130px;
    height: auto;
    cursor: pointer;
}

.nav-right {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-right-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

.nav-right-block:hover {
    background-color: #141519;
}

@media screen and (max-width: 500px) {
    .nav-right-block.w-navbar {
        display: none;
    }
}

.nav-right-block.active {
    background-color: #141519;
}

.nav-right-logo {
    width: 30px;
    height: 30px;
}

.sidebar-overlay {
    display: none;
    position: fixed;
    z-index: 11;
    height: 100vh;
    width: 100%;
    background-color: rgba(58, 57, 57, 0.616);
}

.sidebar {
    display: block;
    position: fixed;
    z-index: 12;
    width: 35%;
    max-width: 350px;
    background-color: #141519;
    padding-top: 10px;
    height: auto;
}

.sidebar-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
    color: white;
    text-decoration: none;
    user-select: none;
}

.category {
    justify-content: space-between;
    padding-right: 10px;
}

.category-dropdown {
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    transition: display 0.2s ease;
    background-color: #1a1c20;
    overflow-y: auto;
    height: 250px;
}

.dropdown {
    padding-left: 20px;
    font-size: 15px;
    color: whitesmoke;
    height: 40px;
    background-color: transparent;
    overflow: auto;
}

.sidebar-button:hover {
    background-color: #23252b;
}

.dropdown:hover {
    background-color: #1f2127;
}

.log-sign-overlay {
    position: fixed;
    flex-direction: column;
    z-index: 11;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 57, 57, 0.616);
    align-items: flex-end;
}

.corner-box {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 375px;
    height: fit-content;
    background-color: #141519;
}

@media screen and (max-width: 600px) {
    .corner-box {
        width: 100%;
    }
    .sidebar {
        width: 50%;
        max-width: unset;
    }
}

.log-sign-box {
    display: none;
}

.corner-box-btn {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.cbb-account {
    height: 100px;
    justify-content: space-between;
    text-decoration: none;
}

.account-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.account-pic {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.account-name {
    font-size: 20px;
    font-family: "Poetsen One";
    font-style: normal;
    font-weight: 300;
    color: white;
}

.corner-box-btn:hover {
    background-color: #23252b;
}

.corner-box-btn-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cbt-white {
    font-size: 17px;
    color: white;
}

.cbt-gray {
    font-size: 13px;
    color: rgb(172, 172, 172);
}

.empty-top {
    position: relative;
    z-index: 0;
    height: 60px;
    width: 100vw;
    background-color: transparent;
}

.hero-section-root {
    display: flex;
    position: relative;
    width: 100%;
    height: 60vw;
    min-height: 400px;
    max-height: 800px;
}

.hero-anime-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.hs-img-section {
    position: absolute;
    z-index: 5;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 80px 0;
    background-color: transparent;
}

.hs-anime-img {
    margin-left: 100px;
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: top;
    border-radius: 24px;
    cursor: pointer;
    user-select: none;
}

.hs-anime-banner {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@media screen and (max-width: 900px) {
    .hero-section-root {
        height: 130vw;
        max-height: 1000px;
    }
}

.hero-section-overlay {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    align-self: center;
    margin-left: 30px;
    padding: 50px;
    border-radius: 24px;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(12px);
}

.hs-title {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.hero-anime-title {
    width: 20%;
    height: auto;
    cursor: pointer;
}

.hero-gradient-left {
    pointer-events: none;
    display: visible;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(to right, #00b7ffcb, transparent);
}

/*
.hero-gradient-bottom {
    pointer-events: none;
    position: absolute;
    align-self: flex-end;
    width: 100%;
    height: 100%;
    max-height: 50px;
    z-index: 6;
    pointer-events: none;
    background: linear-gradient(to top, black, transparent);
}*/

.dub-sub {
    font-size: 15px;
    color: white;
    margin-top: 32px;
}

.hero-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    margin-top: 8px;
    color: rgb(255, 255, 255);
    font-size: medium;
    width: 100%;
}

.hero-button-section {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}

.start-watching-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5e00;
    color: black;
    font-weight: 600;
    font-size: 15px;
    width: 220px;
    height: 40px;
    cursor: pointer;
}

.start-watching-btn:hover {
    background-color: #ff7b2e;
}

.watch-logo {
    height: 30px;
    width: 30px;
}

.watchlist-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #fa7223;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.watchlist-btn:hover {
    border-color: #f7813e;
}

.watchlist-btn:hover .hero-action-watchlist {
    fill: #f7813e;
}

/*HERO SECTION LOADING HANDLER*/

.hs-slider.skeleton.hidden {
    display: none;
}

.hs-title-loading {
    width: 400px;
    height: 35px;
}

.dub-sub-loading {
    width: 100px;
    height: 20px;
    margin-top: 20px;
}

.hs-des-loading {
    height: 15px;
    margin-top: 8px;
}

.hs-des-loading.one {
    margin-top: 20px;
    width: 100%;
}

.hs-des-loading.two {
    width: 80%;
}

.hs-des-loading.three {
    width: 70%;
}

.hs-action-loading {
    height: 40px;
}

.hs-action-loading.play {
    width: 150px;
}

.hs-action-loading.wl {
    width: 50px;
}

/*LOADING HANDLER ENDS*/

/*
.progress-container {
    margin-top: 40px;
    display: flex;
    width: fit-content;
    height: 10px;
    gap: 10px;
}*/


/*
.progress-bar {
    background-color: #888;
    width: 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease-in-out;
    cursor: pointer;
}

.progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    border-radius: 10px;
    background-color: #ff640a;
    transition: none;
}

.progress-bar.active {
    width: 60px;
}

.progress-bar.active::after {
    animation: fillBar 8s linear forwards;
}

@keyframes fillBar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}
*/

@media screen and (max-width: 600px) {
    .hs-title {
        font-size: 28px;
        text-align: center;
        margin-left: 10px;
        margin-right: 25px;
        border-radius: 30px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .hs-img-section {
        padding: 0;
        margin: 0;
    }

    .hs-anime-img {
        height: 100%;
        width: 100%;
        border-radius: 0px;
        margin-left: 0px;
    }

    .hs-anime-banner {
        display: none;
    }

    .hero-section-overlay {
        position: absolute;
        z-index: 8;
        padding: 0;
        margin: 0;
        padding-bottom: 10%;
        margin-top: clamp(0%, 0%, 0%);
        height: fit-content;
        /*margin-left: 50px;*/
        align-items: center;
        align-self: last baseline;
        width: 100%;
    }

    .hero-anime-title {
        width: 35%;
        height: auto;
    }

    .hero-description {
        display: none;
    }

    .dub-sub {
        margin-top: 8px;
    }

    .hero-button-section {
        margin-top: 16px;
    }

    .start-watching-btn {
        width: 1fr;
    }

    .hero-gradient-left {
        display: none;
    }

    .hero-gradient-bottom {
        max-height: 70%;
    }

    /*.progress-container {
        height: 9px;
    }*/

    .progress-bar {
        width: 25px;
    }
}


@media screen and (min-width: 600px) and (max-width: 1000px) {
    .hs-title {
        font-size: 40px;
    }
}

.slider-section-text-big {
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.slider-section-text-small {
    color: gray;
    font-size: large;
}

@media screen and (max-width: 600px) {
    .slider-section-text-big {
        font-size: 22px;
    }

    .slider-section-text-small {
        font-size: 14px;
    }
}

.anime-slider-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    margin-bottom: 50px;
}

.slider-heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-bottom: 16px;
    padding-left: 20px;
}

.slider-content-wrapper {
    position: relative;
    z-index: 9;
    width: 100%;
    display: block;
}

.slider-btn-section {
    position: absolute;
    z-index: 11;
    width: 100%;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sbs-category {
    padding-left: 0px;
    padding-right: 12px;
}

.slider-btn {
    position: absolute;
    z-index: 11;
    border: 2px solid white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: fill;
    background-color: rgba(0, 0, 0, 0.473);
    user-select: none;
    padding: 15px 5px;
    transition: display 0.5s ease-out;
}

.left {
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.slider-btn:hover .s-btn {
    fill: #ff640a;
}

.hidden {
    display: none;
}

.disable-click {
    pointer-events: none;
}

.slider-container {
    position: relative;
    z-index: 10;
    display: flex;
    scroll-behavior: smooth;
    width: 100%;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    align-items: flex-start;
    overflow: auto;
    padding: 0 20px;
}

.slider-container::-webkit-scrollbar {
    display: none;
    height: 6px;
}

.slider-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.anime-card {
    position: relative;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    padding-bottom: 10px;
}

.anime-card-first {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 18vw;
    min-width: 185px;
    max-width: 290px;
    gap: 12px;
    padding: 10px;
}

.anime-card-image {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.anime-card-title {
    font-size: 14px;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anime-card-language {
    font-size: 14px;
    color: gray;
}

/*ANIME CARD FOR MOBILE*/
@media screen and (max-width: 900px) {
    * {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    .anime-card-hover {
        display: none;
    }

    .anime-card-first:active {
        background-color: rgba(0, 162, 255, 0.342);
    }
}

/*ANIME CARD LOADING HANDLER*/

.skeletons.hidden {
    display: none;
}

.loading-e {
    background: linear-gradient(90deg, #141519 0%, #1a1b1f 50%, #141519 100%);
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite;
}

.anime-loading-image {
    width: 100%;
    aspect-ratio: 2/ 3;
}

.anime-loading-title {
    width: 120px;
    height: 20px;
}

.anime-loading-language {
    width: 90px;
    height: 15px;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

/*LOADING HANDLER ENDS*/


.anime-card-hover {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
}

.anime-card-hover-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #141519f5;
}

.anime-card-hover-title {
    font-size: 15px;
    color: white;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.anime-card-hover-rating {
    margin-top: 8px;
    color: white;
    font-size: 15px;
}

.anime-card-hover-episodes {
    color: #828282;
    font-size: 15px;
    margin-top: 8px;
}

.anime-card-hover-description {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 15px;
    line-height: 20px;
    margin-top: 8px;
}

.anime-card-hover-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    align-items: center;
}

.card-action-watchlist {
    width: 30px;
    height: 30px;
}

.card-action-play {
    width: 40px;
    height: 40px;
}

.card-action-add {
    width: 35px;
    height: 35px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip:after {
    content: attr(data-tip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5c5c5c;
    color: white;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
    z-index: 10;
}

.tooltip:before {
    content: "";
    position: absolute;
    bottom: 73%;
    left: 50%;
    transform: translateX(-50%);
    border: 12px solid transparent;
    border-top-color: #5c5c5c;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 15;
}

.tooltip:hover::after {
    opacity: 1;
}

.tooltip:hover::before {
    opacity: 1;
}

.anime-card-first:hover .anime-card-hover {
    opacity: 1;
}

/*
@media screen and (max-width: 900px) {
    .anime-slider-section {
        padding: 0 10px;
    }

    .slider-section-text-big {
        font-size: 22px;
        font-weight: 550;
        max-width: 400px;
    }

    .slider-section-text-small {
        font-size: 14px;
        font-weight: 500;
        max-width: 400px;
    }

    .slider-container {
        gap: 0px;
    }

    .slider-container::-webkit-scrollbar {
        height: 10px;
    }

    .anime-card-inside-heading {
        font-size: 13px;
    }

    .anime-card-rating {
        font-size: 14px;
    }

    .anime-card-actions {
        margin-bottom: 10px;
    }

    .card-action-play {
        width: 30px;
        height: 30px;
    }

    .card-action-watchlist {
        width: 25px;
        height: 25px;
    }

    .card-action-add {
        width: 25px;
        height: 25px;
    }
}*/

.mid-section {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.trial-box {
    width: 93%;
    max-width: 1370px;
    height: 125px;
    display: flex;
    align-items: center;
    padding: 25px;
    border: 1px solid rgba(128, 128, 128, 0.808);
    background-image: url(../assets/anime-images/stars_n_planets.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trial-box-logo {
    height: 100%;
}

.trial-box-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 30px;
}

.trial-box-text-big {
    font-size: 25px;
    color: white;
}

.trial-box-text-small {
    font-size: 15px;
    color: white;
}

.start-trial-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
    height: 40px;
    width: 170px;
    background-color: #ff640a;
    cursor: pointer;
    margin-left: auto;
}

.start-trial-btn:hover {
    background-color: #f7813e;
}

.mid-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    user-select: none;
}

.mid-image {
    width: 93vw;
    height: 27vw;
    max-width: 1370px;
    max-height: 450px;
}

.anime-card-2 {
    width: 100%;
    max-width: 1370px;
    margin-bottom: 50px;
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1370px;
}

.anime-card-2-image {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    aspect-ratio: 3/ 3;
    cursor: pointer;
    max-width: 400px;
    margin-left: 20px;
}

.anime-card-2-details {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 1fr;
    max-height: fit-content;
    height: 22vw;
    align-self: center;
}

.anime-card-2-heading {
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-bottom: 12px;
    max-width: fit-content;
    cursor: pointer;
}

.anime-card-2-heading:hover {
    text-decoration: underline;
}

.anime-card-2-para {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    font-size: medium;
    color: white;
    line-height: 20px;
    margin: 16px 0;
}

@media screen and (min-width: 1000px) {
    .anime-card-2-para {
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}

.anime-card-2-btn-section {
    display: flex;
    width: 100%;
    gap: 10px;
}

.card-2 {
    height: 43px;
}

.anime-card-2-watch-btn {
    width: 200px;
    height: 50px;
    background-color: #ff640a;
    font-size: medium;
    color: black;
}

.anime-card-2-watch-btn:hover {
    background-color: #f7813e;
    cursor: pointer;
}

.anime-card-2-watchlist-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 43px;
    gap: 5px;
    border: 2px solid #ff640a;
    background-color: transparent;
}

.anime-card-2-watchlist-text {
    color: #ff640a;
    font-size: 15px;
}

.anime-card-2-watchlist-btn:hover {
    cursor: pointer;
    border-color: #f7813e;
    color: #f7813e;
}

.anime-card-2-watchlist-btn:hover .wat-icon-ac-2 {
    fill: #f7813e;
}


/*ANIME CARD 2 LOADING HANDLER*/

.wrapper-loading {
    justify-content: center;
}

.ac2-img {
    width: 18vw;
    aspect-ratio: 2 / 3;
    max-width: 250px;
    max-height: 350px;
}

.ac2-head {
    width: 300px;
    height: 30px;
    margin-bottom: 12px;
}

.ac2-lang {
    width: 100px;
    height: 20px;
}

.ac2-para {
    width: 100%;
    height: 15px;
    margin-bottom: 8px;
}

.ac2-action {
    width: 140px;
    height: 45px;
}

/*LOADING HANDLER ENDS*/

/*ANIME CARD 2 FOR MOBILE*/
@media screen and (max-width: 900px) {
    .mid-section {
        display: block;
        align-items: unset;
        justify-content: unset;
        width: 100%;
    }

    .anime-card-2 {
        display: block;
        width: 100vw;
        padding: 0px;
    }

    .wrapper {
        width: 100vw;
        flex-direction: column;
        max-width: none;
        flex-shrink: 0;
        align-items: center;
        padding: 0 20px;
        padding-bottom: 30px;
    }

    .anime-card-2-details {
        margin: 0;
        width: 100%;
        max-height: none;
        height: auto;
        align-self: unset;
        align-items: center;
    }

    .anime-card-2-heading {
        font-size: 20px;
        text-align: center;
    }

    .anime-card-sub-dub {
        font-size: 15px;
    }

    .anime-card-2-para {
        font-size: 14px;
    }

    .anime-card-2-btn-section {
        flex-direction: column;
        padding-right: 12px;
    }

    .card-2 {
        width: 100%;
    }

    .anime-card-2-watchlist-btn {
        width: 100%;
    }

    .anime-card-2-image {
        aspect-ratio: 2/ 2;
        max-width: 300px;
        margin-left: 0;
    }
}

/* THIS MUCH FOR MAIN PAGE */

/*FROM HERE FOR new.html */

.main-content {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.new-first {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.new-first-heading {
    -webkit-font-smoothing: antialiased;
    font-size: 25px;
    color: white;
}

.new-first-right {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    padding: 5px;
}

.part {
    padding: 0px;
    flex-direction: column;
    user-select: none;
    position: relative;
    display: inline-block;
    z-index: 10;
    cursor: pointer;
}

.filter-name {
    font-size: 15px;
    color: gray;
    font-weight: bold;
}

.filter-by-sub-dub {
    color: gray;
    font-size: 15px;
}

.part:hover {
    background-color: #242424;
}

.part:hover .part-icon,
.part:hover .filter-name {
    fill: white;
    color: white;
}

.part.active {
    background-color: #242424;
}

.part.active .part-icon,
.part.active .filter-name {
    fill: white;
    color: white;
}

.n-f-r-icon {
    width: 30px;
    height: 30px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.new-pop-ac {
    width: 100%;
}

.new-pop-anime-card {
    width: unset;
    max-width: unset;
}

.new-pop-anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
}

.np-watchlist {
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
}

@media (max-width: 312px) {
    .anime-card-first {
        min-width: unset;
    }

    .np-watchlist {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .new-pop-anime-list {
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .new-first-heading {
        font-size: 15px;
    }

    .filter-name {
        display: none;
    }

    .site-footer {
        flex-direction: column;
        justify-content: unset;
        gap: 5px;
    }

    .sf-separator {
        display: none;
    }
}

@media (min-width: 313px) and (max-width: 500px) {
    .anime-card-first {
        min-width: 155px;
    }

    .np-watchlist {
        grid-template-columns: repeat(auto-fit, minmax(155px, 155px));
    }

    .new-pop-anime-list {
        grid-template-columns: repeat(auto-fit, minmax(165px, 165px));
    }

    .slider-btn {
        padding: 5px;
    }

    .new-first-heading {
        font-size: 22px;
    }

    .filter-name {
        display: none;
    }

    .site-footer {
        flex-direction: column;
        justify-content: unset;
        gap: 10px;
    }

    .sf-separator {
        display: none;
    }
}

.np-watchlist.skeletons.hidden {
    display: none;
}

.dropdown-new-pop {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    z-index: 10;
    display: none;
    flex-direction: column;
    background-color: #242424;
    padding: 10px 0;
}

.dropdown-new-pop.active {
    display: flex;
}

.dropdown-new-pop-btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    gap: 10px;
    background-color: transparent;
    color: rgb(124, 123, 123);
    font-size: 15px;
    font-weight: 500;
}

.dropdown-new-pop-btn:hover {
    color: white;
    background-color: #141519;
}

.dropdown-new-pop-btn:hover .radio-btn-dropdown {
    fill: white;
}


.site-footer {
    margin: 0 20px;
    margin-top: 30px;
    border-top: 1px solid gray;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 17px;
}

.site-footer a {
    text-decoration: none;
    color: gray;
}

.site-footer a:hover {
    color: white;
}

.sf-separator {
    padding: 0 20px;
}

.hs-slider {
    position: relative;
    display: flex;
    overflow-x: auto;
    width: 100%;
    overflow-y: hidden;
    user-select: none;
}

.hero-section-root {
    min-width: 100vw;
}

.hero-play {
    width: 220px;
    height: 40px;
}

.progress-container {
    position: relative;
    z-index: 10;
    display: flex;
    height: 10px;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    bottom: 30px;
}

.hs-slider::-webkit-scrollbar {
    display: none;
}

.progress-bar {
    background-color: #888;
    width: 30px;
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
    cursor: pointer;
}

.progress-bar.active {
    background-color: #ff640a;
}

/*LOADING CONTENT N MAIN CONTENT LAYOUT HANDLER*/

.new-pop-anime-list.hidden {
    display: none;
}

.homepage-loading-content {
    pointer-events: none;
}

.homepage-loading-content.hidden {
    display: none;
}

.homepage-actual-content.hidden {
    display: none;
}